<% provide(:title, @user.username) %>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
    </section>
<section class="stats">
      <%= render 'shared/stats' %>
    </section>

    <section class="stats">
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.craps.any? %>
      <h3>Craps (<%= @user.craps.count %>)</h3>
      <ol class="craps2">
        <%= render @craps %>
      </ol>
      <%= will_paginate @craps %>
    <% end %>
  </div>
</div>