<%= form_for(@crap) do |f| %>
  <% if @crap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crap.errors.count, "error") %> prohibited this crap from being saved:</h2>

      <ul>
      <% @crap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>

  <% request.session_options[:id] %>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>